@import url('https://matiaslescano.com.ar/static/fonts/pixelicious.css');
 body {
	 background-color: #000;
}
 .container {
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 1em;
	 padding-right: 1em;
	 max-width: 690px;
}
 p {
	 font-family: Pixelicious, monospace;
	 font-size: 1.5em;
	 text-transform: uppercase;
	 color: transparent;
	 filter: blur(0.3px);
	 animation: 2s ease-in-out infinite alternate pulse;
}
 .video {
	 margin-top: 300px;
}
 @keyframes pulse {
	 0% {
		 text-shadow: rgba(255, 255, 255, .9) -0.06em -0.06em, rgba(67, 144, 126, .9) 0 0;
	}
	 33% {
		 text-shadow: rgba(204, 255, 252, .9) -0.15em -0.15em, rgba(157, 94, 186, .9) 0 0;
	}
	 66% {
		 text-shadow: rgba(229, 255, 254, .9) -0.06em -0.06em, rgba(157, 94, 186, .9) 0 0;
	}
	 100% {
		 text-shadow: rgba(179, 255, 251, .9) -0.15em -0.15em, rgba(202, 69, 215, .9) 0 0;
	}
}
 
 